### paramiko 설치를 위한 패키지
- bcrypt-3.2.0-cp36-abi3-manylinux2010_x86_64.whl
- cffi-1.15.0-cp36-cp36m-manylinux_2_5_x86.manylinux1_x86_64.whl
- cryptography-35.0.0-cp36-abi3-manylinux_2_24_x86_64.whl
- paramiko-2.8.0-py2.py3-none-any.whl
- pycparser-2.20-py2.py3-none-any.whl
- PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl
- pysftp-0.2.9.tar.gz
- six-1.16.0-py2.py3-none-any.whl

### 나스서버 접속

In [1]:
import paramiko

In [2]:
def wasConnection():
    ssh = paramiko.SSHClient()
    ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    ssh.connect(hostname = '10.188.207.56', port=9022, username='jboss',password='Jboss123#')
    
    return ssh

In [ ]:
ssh = wasConnection()

In [ ]:
## nas에 있는 text.txt를 내 서버 kyj1103으로 nas56_test.txt라는 이름으로 이동

sftp.get('/DATA/bdip/smart/test.txt','/home/kyj1103/nas56_test.txt')

In [ ]:
## 나스연결 종료

sftp.close()
ssh.close()

In [ ]:
## 모듈이 적용된 영상리스트가 있는 nas56_test읽기

nas56_test = open('/home/kyj1103/nas56_test.txt')
nas56_test2 = nas56_test.readlines()

### 큐브리드 서버

In [ ]:
import jaydebeapi as jp
import datetime
import pandas as pd

In [ ]:
conn_65 = jp.connect('cubrid.jdbc.driver.CUBRIDDriver','jdbc:cubrid:10.188.208.65:30000:BDIP_POTL_DB:::?charset=utf-8', 
                    driver_args ={'user':'bdip','password':'Bdip123#'}, jars='/home/kyj1103/JDBC-10.2-latest-cubrid.jar')

In [ ]:
curs_65 = conn_65.cursor()

In [ ]:
curs_65.execute(f"""
SELECT * 
FROM smt_cvlcpt_out_tbl_bak20211201
""")

In [ ]:
result = curs_65.getchall()

In [ ]:
for i in curs_65.description:
    print(i)
    print(type(i))
    print(len(i))

In [ ]:
columns_65 = [i[0] for i in curs_65.description]

In [ ]:
smt_cvlcpt_out_tbl_bak20211201 = pd.DataFrame(data = result, columns = columns_65)

In [ ]:
smt_cvlcpt_out_tbl_bak20211201 = smt_cvlcpt_out_tbl_bak20211201.fillna({'load_dt':'2020-01-01 01:01:01'})

In [ ]:
smt_lpr_out_tbl_bak20211201['tpos_sn']
smt_lpr_out_tbl_bak20211201.dtypes

In [ ]:
conn_65.close()
curs_65.close()

In [ ]:
conn_64 = jp.connect('cubrid.jdbc.driver.CUBRIDDriver','jdbc:cubrid:10.188.208.64:30000:bdip:::?charset=utf-8', 
                    driver_args ={'user':'bdip','password':'Bdip123#'}, jars='/home/kyj1103/JDBC-10.2-latest-cubrid.jar')

In [ ]:
curs_64_cursor = conn_64.cursor()

In [ ]:
curs_64_cursor.execute(f"""
SELECT * 
FROM smt_cvlcpt_out_tbl_bak20211201
""")

In [ ]:
result_64 = curs_64_cursor.fetchall()

In [ ]:
columns_64 = [i[0] for i in curs_64_cursor.description]

In [ ]:
smt_cvlcpt_out_tbl_bak20211201_2 = pd.DataFrame(data = result_64, columns = columns_64)

In [ ]:
CVLCPT_insert_list = [tuple(x) for x in smt_cvlcpt_out_tbl_bak20211201[['tpof_sn','tpof_data_sn','tpof_data_kind','rslt_phys_file_nm','ext','rslt_file_size','ridtf_yn','nas_stgr_dir','del_yn','load_dt']].values]

In [ ]:
CVLCPT_insert_list[:100]

In [ ]:
CVLCPT_insert_list[0]

In [ ]:
insert_columns = ['tpof_sn','tpof_data_sn','tpof_data_kind','rslt_phys_file_nm','ext','rslt_file_size','ridtf_yn','nas_stgr_dir','del_yn','load_dt']

In [ ]:
table_name = 'smt_cvlcpt_out_tbl_bak20211201'

In [ ]:
#### 테스트

','.join([str(i) for i in insert_columns])
','.join([str(i) for i in CVLCPT_insert_list[:5]])

In [ ]:
sql.format(table_name = table_name,
    cols = ','.join([str(i) for i in insert_columns])
    val = ','.join([str(i) for i in CVLCPT_insert_list[:10]])
          )

In [ ]:
print(sql.format(table_name = table_name,
    cols = ','.join([str(i) for i in insert_columns])
    val = ','.join([str(i) for i in CVLCPT_insert_list[:10]])
    ))

### 65번 서버의 테이블을 64번으로 insert

In [ ]:
### table 1

In [ ]:
with conn_64.cursor() as curs_64:
    sql = """
        INSERT INTO {table_name}
            (
            tpof_sn,
            tpof_data_sn,
            tpof_data_knd,
            phys_file_nm,
            ext,
            vcl_no,
            inpt_dt,
            file_size,
            hdfs_stgr_dir,
            anon_scs_yn,
            anon_scs_cplt_dt,
            np_recg_scs_yn,
            np_recg_cplt_dt,
            src_data_del_yn,
            src_data_del_dt,
            load_dt
        
            )
    
        SELECT 
            Source.tpof_sn,
            Source.tpof_data_sn,
            Source.tpof_data_knd,
            Source.phys_file_nm,
            Source.ext,
            Source.vcl_no,
            Source.inpt_dt,
            Source.file_size,
            Sourcehdfs_stgr_dir,
            Source.anon_scs_yn,
            
            CASE WHEN 
                Source.anon_scs_cplt_dt = '2020-01-01 01:01:01' THEN NULL
                ELSE
                    TO_TIMESTAMP(Source.anon_scs_cplt_dt) END AS anon_scs_cplt_dt,
                    
            Source.np_recg_scs_yn,
            
            CASE WHEN 
                Source.np_recg_cplt_dt = '2020-01-01 01:01:01' THEN NULL
                ELSE
                    TO_TIMESTAMP(Source.np_recg_cplt_dt) END AS np_recg_cplt_dt,
                    
            Source.src_data_del_yn,
            
            CASE WHEN 
                Source.src_data_del_dt = '2020-01-01 01:01:01' THEN NULL
                ELSE
                    TO_TIMESTAMP(Source.src_data_del_dt) END AS src_data_del_dt,
                    
            CASE WHEN 
                Source.load_dt = '2020-01-01 01:01:01' THEN NULL
                ELSE
                    TO_TIMESTAMP(Source.load_dt) END AS load_dt
                    
            FROM 
            (SELECT * 
            FROM
                (VALUES {val}) AS s ({cols})
                ) Source
                ;

            """
    curs_64.execute(sql.format(table_name = table_name,
                    cols = ','.join([str(i) for i in insert_columns]),
                    val = ','.join([str(i) for i in CVLCPT_insert_list[:10]])                
                    ))

In [ ]:
### table 2

In [ ]:
with conn_64.cursor() as curs_64:
    sql = """
        INSERT INTO {table_name}
            (
            tpof_sn,
            tpof_data_sn,
            img_sn,
            rslt_phys_file_nm,
            ext,
            rslt_file_size,
            np_detc_yn,
            np_recg_mtch_yn,
            nas_stgr_dir,
            del_yn,
            load_dt
        
            )
    
        SELECT 
            Source.tpof_sn,
            Source.tpof_data_sn,
            Source.img_sn,
            Source.rslt_phys_file_nm,
            Source.ext,
            Source.rslt_file_size,
            Source.np_detc_yn,
            Source.np_recg_mtch_yn,
            Source.nas_stgr_dir,
            Source.del_yn,
      
            CASE WHEN 
                Source.load_dt IS NOT NULL THEN TO_TIMESTAMP(Source.load_dt)
            ELSE NULL END AS load_dt
            
                    
            FROM 
            (SELECT * 
            FROM
                (VALUES {val}) AS s ({cols})
                ) Source
                ;

            """
    curs_64.execute(sql.format(table_name = table_name,
                    cols = ','.join([str(i) for i in insert_columns]),
                    val = ','.join([str(i) for i in CVLCPT_insert_list[:10]])                
                    ))

In [ ]:
### table 3

In [ ]:
with conn_64.cursor() as curs_64:
    sql = """
        INSERT INTO {table_name}
            (
            sn,
            tpof_sn,
            tpof_data_sn,
            img_sn,
            np_recg_vcl_no
 
            )
    
        SELECT 
            Source.sn,
            Source.tpof_sn,
            Source.tpof_data_sn,
            Source.img_sn,
            Source.np_recg_vcl_no

                    
            FROM 
            (SELECT * 
            FROM
                (VALUES {val}) AS s ({cols})
                ) Source
                ;

            """
    curs_64.execute(sql.format(table_name = table_name,
                    cols = ','.join([str(i) for i in insert_columns]),
                    val = ','.join([str(i) for i in CVLCPT_insert_list[:10]])                
                    ))

In [ ]:
### table 4

In [ ]:
with conn_64.cursor() as curs_64:
    sql = """
        INSERT INTO {table_name}
            (
            tpof_sn,
            tpof_data_sn,
            tpof_data_knd,
            rslt_phys_file_nm,
            ext,
            rslt_file_size,
            ridtf_yn,
            nas_stgr_dir,
            del_yn,
            load_dt

            )
    
        SELECT 
            Source.tpof_sn,
            Source.tpof_data_sn,
            Source.tpof_data_knd
            Source.rslt_phys_file_nm,
            Source.ext,
            Source.rslt_file_size,
            Source.ridtf_yn,
            Source.nas_stgr_dir,
            Source.del_yn,
            
            CASE WHEN 
                Source.load_dt IS NOT NULL THEN TO_TIMESTAMP(Source.load_dt)
            ELSE NULL END AS load_dt

                    
            FROM 
            (SELECT * 
            FROM
                (VALUES {val}) AS s ({cols})
                ) Source
                ;

            """
    curs_64.execute(sql.format(table_name = table_name,
                    cols = ','.join([str(i) for i in insert_columns]),
                    val = ','.join([str(i) for i in CVLCPT_insert_list[:10]])                
                    ))